{%extends 'base.html'%}

{%block body%}

<style>
.table{
    margin-top: 5%;
    margin-left:5%;
    max-width: 90%;

    }
.button-edit_mode{
    margin-top: 15px;
    margin-left:5%;

}

#data-navigation{
    margin-left:80%;
}

</style>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Buch-ID</td>
            <td scope="col">Titel</td>
            <td scope="col">Kategorie</td>
            <td scope="col">Veröffentlichungsdatum</td>
            <td scope="col">Autoren-ID</td>
            <td scope=""></td>
        </tr>
    </thead>
    <tbody>

        {%for item in items.items:%}
            <tr>
                <td scope="row">{{item.bookID}}</td>
                <td>{{item.title}}</td>
                <td>{{item.category}}</td>
                <td>{{item.releaseDate}}</td>
                <td>{{item.authorID}}</td>
                <td>
                    <button class="btn btn-info"
                    onclick="window.location.href='/edit_data?book_id={{item.bookID}}'">✏️</button>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>


    <a href="{{ url_for('add_book') }}"
           class="btn btn-outline-primary btn-sm">
            Daten hinzufügen
    </a>

    <div id="data-navigation">
        <a href="{{ url_for('load_books', page=1) }}"
           class="btn btn-outline-primary btn-sm
           {% if items.page == 1 %}disabled{% endif %}">
            &laquo;&laquo;
        </a>
        <a href="{{ url_for('load_books', page=items.prev_num) }}"
           class="btn btn-outline-primary btn-sm
           {% if items.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        <a class="btn btn-primary btn-sm">
                    {{ items.page }}
                </a>

        <a href="{{ url_for('load_books', page=items.next_num) }}"
           class="btn btn-outline-primary btn-sm
           {% if items.page == items.pages %}disabled{% endif %}">
            &raquo;
        </a>
        <a href="{{ url_for('load_books', page=items.pages) }}"
           class="btn btn-outline-primary btn-sm
           {% if items.page == items.pages %}disabled{% endif %}">
            &raquo;&raquo;
        </a>
    </div>



{%endblock%}