{%extends 'base.html'%}

{%block body%}

<form>
  <div class="mb-3">
    <label for="title" class="form-label">Titel</label>
    <input type="text" class="form-control" id="title" aria-describedby="title">
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Kategorie</label>
    <input type="text" class="form-control" id="category" aria-describedby="category">
  </div>
  <div class="mb-3">
    <label for="releaseDate" class="form-label">Veröffentlichungsdatum</label>
    <input type="date" class="form-control" id="releaseDate" aria-describedby="releaseDate">
  </div>
  <div class="mb-3">
    <label for="authorID" class="form-label">Autor</label>
    <input type="text" class="form-control" id="authorID" aria-describedby="authorID">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{%endblock%}