{%extends 'base.html'%}

{%block body%}

<table class="table">
    <thead>
        <tr>
            <td scope="col">Buch-ID</td>
            <td scope="col">Titel</td>
        </tr>
    </thead>
    <tbody>
        {%for item in items:%}
            <tr>
                <td scope="row">{{item.bookID}}</td>
                <td>{{item.title}}</td>
                <td>
                <form method="post" action="/items/delete">
                    <input type="hidden" id="itemId" name="itemId" value="{{item.bookID}}">
                    <button class="btn btn-danger" onclick="deleteItem(this); return false;">❌</button>
                </form>
                <button class="btn btn-info" 
                    onclick="window.location.href='/editForm?itemid={{item.bookID}}'">✏️</button>
                </td>
            </tr> 
        {%endfor%}
    </tbody>
</table>

{%endblock%}